:root {
    --color-dark : #1B1D3C;
    --color-blue-1 : #104E93;
    --color-blue-2 : #4076F5;
    --color-yellow-1 : #ffd402;
    --color-yellow-2 : #FFE45C;
    --color-green-1 : #64b32f;
    --color-green-2 : #9DFF5C;

}